<div class="modal fade" id="adminHelp" role="dialog" tabindex=0>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title">RAD Admin Help</h4>
      </div>
      <div class="modal-body">
        <h3>Power Searches</h3>
          <h4>Find Entries with Blank Fields (<span class="glyphicon glyphicon-minus-sign"></span>)</h4>
            <p>Click the minus-sign button next to <strong>Search</strong> to find references that are missing at least one of: author, title, reference, source, page, abstract, or date. To restrict the search to a single field, use the dropdown caret next to the button and pick a field.</p>
            <p>The button writes the corresponding Solr query into the search box, so you can refine it further or share the resulting URL with another editor.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>