<h2>The Behind-the-Scenes Story</h2>
<p>Back in the mid-1990's, when we just started our creation ministry, Rich went to the Institute for Creation Research for his graduate degree, a Masters in Science Education, which he obtained in 1997.  The problem that he faced while he was working on his Master's Thesis was that he had difficulty finding what creationists had previously written on the topic.  He realized that the lack of such a search engine constituted a huge hole in creationist research capability.</p>
<p>Our personal library of creationist material was continually growing.  As it grew, it became more difficult to remember what we had.  Rich realized the answer was a database.  While a spreadsheet listing titles and references was available, its utility was limited.  The limited utility was both in the format and the lack of abstracts. An article abstract is essential to the research process.</p>
<p>Knowing the answer is one thing, being able to implement it is another.  Ginger’s mother came to the rescue!  The most time consuming part of building such a database is the inputting of the data.  It was very helpful to have Ginger’s mother (Maxine Shankle) who loved to type and liked to spend winters in Florida.  When Rich suggested putting the information about the material in our personal library into a database, she readily agreed.</p>
<p>After a couple of winters of inputting the data, Rich was surprised to see over 1600 records.  He did not realize he had so much information. He realized that the information would be useful to others, so he had it prepared it to run word or phrase searches and to print reports.  The database was debuted at the fourth International Conference on Creationism.</p>
<p>Over the years, we had many volunteers help with putting RAD on CDs for sale, constructing the website search engines and others who helped with inputting data.  Maxine Shankle moved to FL in 2003 and did most of the data input.</p>
<h2>Today</h2>
<p>After Ginger’s mother passed away in December 2008, Ginger Overman, CER board member, Kathy Bear, and Lynette Faulkner (the wife of CER board member Dr. Danny Faulkner) have “picked up the mantle” and are inputting the data.  The RAD is an amazing search engine that is still going strong. Each record includes the title, author, publishing information, the reference and page numbers, and the source (where to find the item).  It includes abstracts of articles, book reviews, essays, viewpoints, interviews, letters to the editor, biographies, etc.</p>
<p>Examples of entire publications:</p>
<ul>
  <li>Answers Magazine</li>
  <li>Answers Research Journal</li>
  <li>Creation Answers</li>
  <li>Creation Digest</li>
  <li>Creation Magazine</li>
  <li>Creation Illustrated</li>
  <li>Creation Matters</li>
  <li>Creation Research Society Quarterly</li>
  <li>Creation Social Science &amp; Humanities Quarterly</li>
  <li>International Conference on Creationism</li>
  <li>Impact (ICR)</li>
  <li>Journal of Creation (Formerly TJ)</li>
  <li>Origins (Geoscience Research Institute)</li>
  <li>Origins Magazine (United Kingdom)</li>
  <li>Reason &amp; Revelation</li>
  <li>Think &amp; Believe</li>
  <li>And many more &hellip;</li>
</ul>
<p>Donations to help support the Research Assistance Database can be sent to: Creation Education Resources, 108 McVickers Rd., Middleburg, FL  32068. Donations can be made by check, Visa, or MasterCard. If you have any questions about the database, please contact Rich or Ginger Overman at 904-213-1177 or by email at <a href="mailto:cer@creationeducation.org">cer@creationeducation.org</a>.</p>
<h2>Testimonials</h2>
<h3>Dr. Danny Faulkner, Stellar Astronomer</h3>
<p>As a creation scientist, I use the Research Assistance Database all the time.  The RAD allows me quickly to search the entire creation literature for any topic, author, or title.  I can easily find references that I’m looking for, or I can see what other creationists have already written on a topic.  The RAD usually is my first step in researching a subject in creation.  All serious creationists need this valuable resource.</p>
<h3>Dr. Wayne Frair</h3>
<p>This RAD contains a wealth of resource references, and I personally have been aided in locating important sources of information useful for my speaking and writing.</p>      