<div class="form-group">
    <label for="campaignNameField">Name{{#if fieldDocs.name}} {{> infoIcon fieldDocs.name}}{{/if}}</label>
    <input class="form-control" type="text" name="campaignNameField" id="campaignNameField" maxlength="150" data-bind="textInput: name">
</div>
<div class="form-group">
    <label for="campaignDescriptionField">Description{{#if fieldDocs.description}} {{> infoIcon fieldDocs.description}}{{/if}}</label>
    <textarea class="form-control" rows="6" name="campaignDescriptionField" id="campaignDescriptionField" data-bind="textInput: description"></textarea>
</div>
