<div class="modal fade" id="editCampaignModal" role="dialog" tabindex=0>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Edit Campaign: <span data-bind="text: name"></span></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bind="click: revert"></button>
            </div>
            <form id="campaignEditForm" data-bind="submit: $data.submitEdits">
                <div class="modal-body">
                    <div class="alert alert-danger" style="display:none" data-bind="visible: formError, text: formError"></div>
                    {{> campaignFormFields}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" data-bind="click: revert">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
