<div class="modal fade" id="editRefModal" role="dialog" tabindex=0>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bind="click: revert"></button>
                <h4 class="modal-title">
                    Edit Reference <span data-bind="text: id"></span>
                </h4>
            </div>
            <form id="refEditForm" data-bind="submit: $data.submitEdits">
                <div class="modal-body">
                    <div class="alert alert-danger" style="display:none" data-bind="visible: formError, text: formError"></div>
                    <!-- ko if: typeof oddCharReport === 'function' && oddCharReport().length -->
                    <div class="alert alert-warning">
                        <strong>Problematic characters detected.</strong> Saving will clean them automatically.
                        <ul class="list-unstyled" style="margin-bottom:0" data-bind="foreach: oddCharReport">
                            <li data-bind="text: $data"></li>
                        </ul>
                    </div>
                    <!-- /ko -->
                    {{> refFormFields}}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal" data-bind="click: revert">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
