<div class="mb-3">
    <label for="generalDescriptionField">Description</label>
    <textarea class="form-control" rows="4" name="generalDescriptionField" id="generalDescriptionField" data-bind="textInput: description"></textarea>
</div>
<div class="mb-3">
    <label>Date</label>
    <div data-bind="datePicker: dt"></div>
</div>
<div class="mb-3">
    <label for="generalLinkField">Link</label>
    <input class="form-control" type="url" name="generalLinkField" id="generalLinkField" data-bind="textInput: link" placeholder="https://...">
</div>
