<form method="post">
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" name="password" placeholder='New password' autofocus required>
        <label>Confirm Password</label>
        <input type="password" class="form-control" name="confirm" placeholder='Confirm password' required>
    </div>
    
    <button type="submit" class="btn btn-primary">Update password</button>
</form>