<div class="modal fade" id="newRefModal" role="dialog" tabindex=0>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
                <h4 class="modal-title">Add New Reference</h4>
            </div>
            <form id="refInput" method="post" action="/refs/new">
                <div class="modal-body">
                    {{> refFormFields}}
                </div>
                <div class="modal-footer">
                    <input type="checkbox" class="form-check-input" id="holdInputCheck" value="persistInput"> 
                    <label class="form-check-label" for="holdInputCheck">Input hold</label>
                    <button type="submit" class="btn btn-info">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>