<div class="mb-3">
    <label for="periodicalNameField">Name</label>
    <input class="form-control" type="text" name="periodicalNameField" id="periodicalNameField" maxlength="255" data-bind="textInput: name">
</div>
<div class="mb-3">
    <label for="periodicalPublisherField">Publisher</label>
    <input class="form-control" type="text" name="periodicalPublisherField" id="periodicalPublisherField" maxlength="255" data-bind="textInput: publisher_name" autocomplete="off">
    <!-- ko if: publisherSuggestions().length > 0 -->
    <ul class="list-group" style="position: absolute; z-index: 1000; width: calc(100% - 30px); max-height: 200px; overflow-y: auto; margin-top: 0;">
        <!-- ko foreach: publisherSuggestions -->
        <li class="list-group-item list-group-item-action" style="cursor: pointer; padding: 6px 12px;" data-bind="text: $data, click: function() { $parent.selectPublisher($data); }">
        </li>
        <!-- /ko -->
    </ul>
    <!-- /ko -->
</div>
