<div class="modal fade" id="sourceModal" role="dialog" tabindex=0>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">&times;</button>
        <h4 class="modal-title"><span data-bind="text: name">Name</span></h4>
      </div>
      <div class="modal-body">
        <dl>
          <dt>Address</dt>
          <dd><span data-bind="text: address"></span></dd>
          <dt>Website</dt>
          <dd><span  data-bind="text: web"></span></dd>
          <dt>Email</dt>
          <dd><span  data-bind="text: email"></span></dd>
          <dt>Phone</dt>
          <dd><span  data-bind="text: phone"></span></dd>
          <dt>Fax</dt>
          <dd><span  data-bind="text: fax"></span></dd>
        </dl>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>