<div class="form-group">
    <label for="nameField">Name</label>
    <input class="form-control" type="text" name="nameField" id="nameField" data-bind="textInput: name">
</div>
<div class="form-group">
    <label for="addressField">Address</label>
    <input class="form-control" type="text" name="addressField" id="addressField" data-bind="textInput: address">
</div>
<div class="form-group">
    <label for="cityField">City</label>
    <input class="form-control" type="text" name="cityField" id="cityField" data-bind="textInput: city">
</div>
<div class="form-group">
    <label for="stateField">State</label>
    <input class="form-control" type="text" name="stateField" id="stateField" data-bind="textInput: state">
</div>
<div class="form-group">
    <label for="zipField">Zip</label>
    <input class="form-control" type="text" name="zipField" id="zipField" data-bind="textInput: zip">
</div>
<div class="form-group">
    <label for="telephoneField">Telephone</label>
    <input class="form-control" type="text" name="telephoneField" id="telephoneField" data-bind="textInput: telephone">
</div>
<div class="form-group">
    <label for="faxField">Fax</label>
    <input class="form-control" type="text" name="faxField" id="faxField" data-bind="textInput: fax">
</div>
<div class="form-group">
    <label for="emailField">Email</label>
    <input class="form-control" type="text" name="emailField" id="emailField" data-bind="textInput: email">
</div>
<div class="form-group">
    <label for="websiteField">Website</label>
    <input class="form-control" type="text" name="websiteField" id="websiteField" data-bind="textInput: website">
</div>
