{{#> layout title="Error!" }}
    {{#*inline "custom-title"}}
        <h1>{{message}}</h1>
    {{/inline}}
    {{#*inline "search-area"}}
        <h2>{{error.status}}</h2>
    {{/inline}}   
    {{#*inline "results-area"}}
        <pre>{{error.stack}}</pre>
    {{/inline}} 
{{/layout}}

