{{#> layout title="Change Password"}}
    
    {{#*inline "search-area"}}
        {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}
        {{> newPassword}}
    {{/inline}}   
 
    {{#*inline "results-area"}}
        
    {{/inline}}  
    
    {{#*inline "scripts-block"}}{{/inline}} 
{{/layout}}
