{{#> layout title="Change Password"}}
    {{#*inline "custom-title"}}{{/inline}}  

    {{#*inline "search-area"}}
        {{> passwordChange}}
    {{/inline}}   
 
    {{#*inline "results-area"}}
        {{#if message}}
            <div class="alert alert-danger">{{message}}</div>
        {{/if}}
    {{/inline}}  
    
    {{#*inline "scripts-block"}}{{/inline}} 
{{/layout}}
