{{!--
    This is the administration page for sources
--}}

{{#> layout title="Sources" nav=1 srcActive=1}}


    {{#*inline "search-area"}}
        <p>Search for sources by name, city, website, or any other field. Sources are referred to by name from the source and publisher fields of references. You can open the source associated with particular reference from the references page.</p>

        <form role="search" class="">
          <div class="mb-3">
            <label for="searchInput" class="form-label col-sm-2">Query:</label>
            <div class="col-sm-8"><input id="searchInput" class="form-control" type="search" placeholder="Type query here" name="q" aria-required="true" required autofocus></div>
          </div>
          <div class="mb-3">
            <label for="rowsInput" class="form-label col-sm-2">Results per page:</label>
            <div class="col-sm-2"><input id="rowsInput" class="form-control" type="number" min="1" max="1000" value="30" name="rows"></div>
          </div>
          <div class="mb-3">
            <div class="offset-sm-2 col-sm-5">
              <button type="submit" class="btn btn-primary" data-bs-toggle="tooltip" title="Search on query"><span class="bi bi-search"></span> Search</button>
              <button id="unusedSourceBtn" type="button" class="btn btn-primary" data-bs-toggle="tooltip" title="Find sources not used by any reference"><span class="bi bi-arrow-up-left-circle"></span></button>
              <span id="unusedSourceProgress" class="text-muted small" style="display:none; margin-left:8px" aria-live="polite"></span>
            </div>
            <div class="col-xs-offset-right-2 col-sm-3 text-end">
              <button type="button" class="btn btn-info" href="#" data-bs-toggle="modal" data-bs-target="#newSourceModal" data-bs-backdrop="static"><span class="bi bi-plus-lg"></span> Add new source</button>
            </div>
          </div>
        </form>

    {{/inline}}

    {{#*inline "results-area"}}

        {{! Results header }}
        <div id="mainDisplay" aria-hidden="true" role="main">
          <div id="res-head" class="card-body">
            <div>
              <span data-bind="text: summary"></span>
            </div>
            <div class="row">
              <h4>
                <span class="col-sm-6">Name</span>
                <span class="col-sm-3">City</span>
                <span class="col-sm-2">State</span>
                <span class="col-sm-1"></span>
              </h4>
            </div>
            <hr>
            <div id="noResultsAlert" class="alert alert-info" aria-hidden="true" aria-live="assertive"><strong>No results!</strong> Your query did not match any sources. Make sure all words are spelled correctly. Try a less complex search or alternate search terms.</div>
          </div>

          {{! Results group }}
          <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true" aria-live="assertive">

            <!-- ko foreach: sources -->
            <div class="card">
              <div class="card-header" tabindex=0 data-bs-toggle="tooltip" title="Click to expand" role="tab" data-bind="attr: {id: ariaLab}">
              <div class="row">
                  <a data-bs-toggle="collapse" data-bs-parent="#accordion" href="#collapse1" data-bind="attr: {href: '#'+colId}" style="color: #000000;">
                    <div class="col-sm-6"><h5><span data-bind="textPretty: name">Name</span></h5></div>
                    <div class="col-sm-3"><h5><span data-bind="textPretty: city">City</span></h5></div>
                    <div class="col-sm-2"><h5><span data-bind="textPretty: state">State</span></h5></div>
                  </a>
                  <div class="dropdown col-sm-1" aria-haspopup="true">
                    <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown" style="color: #000000;">
                    <span class="bi bi-three-dots-vertical"></span></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu" aria-label="operations menu" tabindex=0>
                      <li role="presentation"><a role="menuitem" href="#" data-bind="click: editSource"><span class="bi bi-pencil"></span> Edit</a></li>
                      {{#if deletable}}<li role="presentation"><a role="menuitem" href="#" data-bind="click: deleteSource"><span class="bi bi-trash3"></span> Delete</a></li>{{/if}}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" data-bind="attr: {id: colId, 'aria-labelledby': ariaLab}" role="tabpanel">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-4"><h4>Address</h4><span data-bind="textPretty: address"></span></div>
                    <div class="col-sm-2"><h4>Zip</h4><span data-bind="textPretty: zip"></span></div>
                    <div class="col-sm-3"><h4>Telephone</h4><span data-bind="textPretty: telephone"></span></div>
                    <div class="col-sm-3"><h4>Fax</h4><span data-bind="textPretty: fax"></span></div>
                  </div>
                  <div class="row" style="margin-top: 10px;">
                    <div class="col-sm-4"><h4>Email</h4><span data-bind="textPretty: email"></span></div>
                    <div class="col-sm-4"><h4>Website</h4><span data-bind="textPretty: website"></span></div>
                    <div class="col-sm-4"><span class="small text-muted">id: </span><span class="small text-muted" data-bind="text: id"></span></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /ko -->
            <div id="paginationAlert" class="alert alert-warning" aria-hidden="true" aria-live="polite">
              <a href='#' class='close' data-dismiss='alert' aria-label='close' tabindex=0>&times;</a>
              <strong>Warning!</strong> A 'start' value which is not evenly divisible by 'rows' or a very large 'rows' value will cause pagination to behave non-intuitively.
            </div>
          </div>
          <div id="pages" class="text-center" role="navigation" aria-live="polite">
            <p id="pageSummary" data-bind="text: summary"></p>
          </div>
        </div>
    {{/inline}}

    {{#*inline "modal-block"}}
        {{> newSourceModal}}

        {{> editSourceModal}}

        {{> adminHelp}}

    {{/inline}}

    {{#*inline "scripts-block"}}
      <script nonce="{{nonce}}" src="javascripts/utils.js"></script>
      <script nonce="{{nonce}}" src="javascripts/srcGridView.js"></script>
      <script nonce="{{nonce}}" src="javascripts/srcViewModel.js"></script>
      <script nonce="{{nonce}}" src="private/sources.js"></script>
    {{/inline}}

{{/layout}}
